@{
    ViewData["Title"] = "HTML Links Assignment";
}
<h1>@ViewData["Title"]</h1>
<h2>In-class: Html links in views - Assignment By Bibhas K Bera </h2>
<h4>This Page returns Git Hub Links of each of its members and comments entered by them in a collaborated Project</h4>
<table>
    <thead>
        <tr><th>Member Name</th><th>Git Hub Link</th><th>Comments</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>Bibhas</td>
            <td><a href="https://github.com/bibhas05041984">Git_Link</a></td>
            <td>Comments from Bibhas.</td>
        </tr>
        <tr>
            <td>Avie</td>
            <td><a href="https://github.com/AvieMohan">Git_Link</a></td>
            <td>Comments from Avie - To be updated.</td>
        </tr>
        <tr>
            <td>Kirti</td>
            <td><a href="https://github.com/kirtivasdev12">Git_Link</a></td>
            <td>Comments from Kirti - To be updated.</td>
        </tr>
        <tr>
            <td>Laura</td>
            <td><a href="https://github.com/lhinderliterzamora">Git_Link</a></td>
            <td>Comments from Laura - To be updated.</td>
        </tr>
    </tbody>
</table>

